section {
    height: 100vh;
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(6, 1fr);
    gap: 1em;
}

.one {
    background-color: #8ca7a0;
    grid-area: 1 / 1 / span 3 / span 2;
}

.two {
    background-color: #a78c8c;
    grid-area: 1 / 3 / span 6 / 5;
}

.three {
    background-color: #c58fa8;
    grid-area: 1 / -3 / 3 / -1;
}

.four {
    background-color: #b5c2aa;
    grid-area: 4 / 1 / span 3 / span 2;
}

.five {
    background-color: #8ca7a0;
    grid-area: 3 / -3 / 5 / -1;
}

.six {
    background-color: #b5c2aa;
    grid-area: 5 / -3 / 7 / -1;
}

.seven {
    background-color: #918ca7;
    grid-area: 7 / 1 / -1 / span 2;
}

.eight {
    background-color: #8ca7a0;
    grid-area: 7 / 3 / span 2 / 4;
}

.nine {
    background-color: #c58fa8;
    grid-area: 9 / 3 / -1 / 4;
}

.ten {
    background-color: #918ca7;
    grid-area: 7 / 4 / -1 / span 2;
}

.eleven {
    background-color: #8ca7a0;
    grid-area: 7 / -1 / -1 / -2;
}

